@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .flexy-col {
    @apply flex flex-col;
  }
  .flexy-col-gap-2 {
    @apply flexy-col gap-2;
  }
  /* form style */
  .form-otp {
    @apply rounded-formRadius mb-8 mt-10 border px-[60px] py-11;
  }

  .form-border-pad-layout {
    @apply flexy-col form-otp gap-8;
  }

  /* form input  */
  .input-border-rad-pad-2 {
    @apply rounded-md border p-2 focus:shadow-md focus:outline-none;
  }
  .loader {
    width: 32px;
    height: 32px;
    border: 3px solid #fff;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  input[type="checkbox"]:checked {
    background: black;
    color: white;
  }

  input[type="checkbox"] {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background: #cccccc;
    height: 24px;
    width: 24px;
    border-radius: 4px;
    color: white;
  }

  input[type="checkbox"]:after {
    content: " ";
    position: relative;
    left: 30%;
    top: 12%;
    width: 30%;
    height: 60%;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(50deg);
    display: none;
  }

  input[type="checkbox"]:checked:after {
    display: block;
  }
}
